*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-bg: linear-gradient(to right, rgb(167,185,199),rgb(83,71,95),rgb(185,218,237));
	--color-fg: #000000;
	--card-bg-color: #fafafa;
  --card-color: black;
  --rating-color: #564c63;
  --bookmark-color: #472d6b;
  --border-color: 1px solid black;
}

[data-theme="dark"] {
	--color-bg: rgb(0, 21, 48);
	--color-fg: #ffffff;
	--card-bg-color: rgb(0, 21, 48);
  --card-color: #fafafa;
  --rating-color: black;
  --bookmark-color: black;
  --border-color: 1px solid white;
}
:root { scroll-behavior: smooth; }
.container{
    width: 100%;
    height:100%;
}
.container .header{
    width: 100%;
    height: 8%;
    background: linear-gradient(to right, rgb(167,185,199),rgb(83,71,95),rgb(185,218,237));
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .header .header-item1 , .header-item2{
    display: flex;
    align-items: center;
}
.container .header .header-item1{
justify-content: flex-start;
width: 50%;
height: 100%;
padding-left: 4em;
}
.container .header .header-item1 .header-logo{
    width: 40px;
    height: 40px;
    border-radius: 70%;
}
.container .header .header-item2{  
    width: 50%;
    height: 100%;
   justify-content: flex-end;
   padding-right: 2em;
}
.container .header h5{
    color: white;
    margin-left: 2em;
    font-size:15px;
    font-weight: 300;
    letter-spacing: 1.5px;
}
.container .header h5:hover{
    font-size: 17px;
    border-bottom: 3px solid white;
    transition: 0.5s;
    margin-left: 1.5em;
    cursor: pointer;
}
.header p{
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap .search_box{
	height: 40px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
    box-shadow: -1px 1px 8px 6px #2c3450;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	background: #c1c7d6;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #708bd2;	
}

.search_wrap .search_box .btn.btn_common .fa{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgb(0, 0, 0);
	font-size: 20px;
}

.search_wrap .search_box .input{
	padding-right: 80px;
}

.search_wrap .search_box .input
{
	border-radius: 50px;
}
.search_wrap .search_box .btn{
	right: 0px;
	border-radius: 50%;
}

/*box style*/
body{
    background: var(--color-bg); 
}
.main-box{
    width: 90%;
    height: 90%;
    margin-top: 40px;
    
}
 #all-box{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .box{
    margin-top: 20px;
    padding: 7px;
    border-radius: 16px;
    background: white;
    box-shadow: -2px -3px 9px 5px rgb(224 222 222 / 53%), 0 3px 10px 0 rgb(224 224 224 / 62%);
    border: var(--border-color); 
 }

.button-main{
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
}
.button-main a{
    color: black;
    background-color: #d4d4d4;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    border: 1px solid #919597;
    margin: 3px 10px 3px 1px;
    border-radius: 0.5em;
    width: 220px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: -2px -1px 4px 1px rgb(93 93 93 / 53%), 3px 3px 8px 1px rgb(93 93 93 / 53%);
}
.box .content{
align-content: center;
text-align: center;
font-style: italic;
font-weight: bold;
color: black;
}
.shape-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 17, 17);
}
.bookmark i{
    margin: 0px 10px 0px 10px;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.star{
display: flex;
align-items:flex-end;
justify-content: flex-end;
color: rgb(0, 0, 0);
}
.section {
    padding-left: 140px;
    padding-right: 140px;
}
a:hover {
    text-decoration: none;
}
#go-to-top{
    position: fixed;
    bottom: 30px;
    left: 15px;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: rgb(0, 21, 48);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 2.8em;
    transition-duration:0.5s;
    border: 4px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*pagi*/

.pagination{
    margin-top: 30px;
    color: #383838;
    border-radius: 6px;
}
.pagination button{
    padding-left: 20px;
    color: #fff;
}
ul{
    margin: 20px 30px;
}
ul li{
    display: inline-block;
    margin: 0 5px;
    background: rgb(214, 220, 229);
    width: 45px;
    height: 43px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 39px;
    cursor: pointer;
    background-position: 0 -45px;
    border: 1px solid;
    transition: background-position 0.5s;
    font-style: italic;
}
 ul li.active{
    color: #fff;
    background-color: rgb(0, 21, 48);
    background-repeat: no-repeat;
    background-position: 0 0;
 }
.btn1,.btn2{
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #383838;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn2 img{
    width: 38px;
}
.btn1 img{
    width: 38px;
}
/* rating */
  .rating-wrapper {
    direction: rtl !important;
  }
  .rating-wrapper label {
    color: #a2b9ce;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.1rem;
    padding: 0rem 0.1rem;
    transition: color 0.5s;
  }
  .rating-wrapper svg {
    -webkit-text-fill-color: transparent;
    -webkit-filter: drop-shadow 4px 1px 6px #c6ceed;
    filter: drop-shadow(5px 1px 3px #c6ceed);
  }
  .rating-wrapper input {
    display: none;
  }
  .rating-wrapper label:hover,
  .rating-wrapper label:hover ~ label,
  .rating-wrapper input:checked ~ label {
    color: var(--rating-color);
  }
  .rating-wrapper label:hover,
  .rating-wrapper label:hover ~ label,
  .rating-wrapper input:checked ~ label {
    color: var(--rating-color);
  }

  /*bookmark*/
  .bookmark label {
    color: #a2b9ce;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.5rem;
    padding: 0rem 0.2rem;
    transition: color 0.5s;
  }
  .bookmark input {
    display: none;
  }
  .bookmark label:hover,
  .bookmark label:hover ~ label,
  .bookmark input:checked ~ label {
    color: var(--bookmark-color);
  }
  .bookmark label:hover,
  .bookmark label:hover ~ label,
  .bookmark input:checked ~ label {
    color: var(--bookmark-color);
  }
  .save-patent-btn {
    padding: 10px 15px;
    color: black;
    outline: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: var(--border-color);
  }
  /* /////////////////dark and light mode//////////////////// */
/* TOGGLE  */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  background-color: #001530;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider svg {
  color: #222;
  position: absolute;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  pointer-events: none;
}

.feather-moon {
  opacity: 0;
  left: 9px;
  bottom: 9px;
  transform: translateX(4px);
}

.feather-sun {
  opacity: 1;
  right: 10px;
  bottom: 9px;
  transform: translateX(0px);
}

input:checked + .slider .feather-moon {
  opacity: 1;
  transform: translateX(0);
}

input:checked + .slider .feather-sun {
  opacity: 0;
  transform: translateX(-4px);
}
/* modal content*/
.close-btn {
  border: 3px solid;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #031524;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 4px;
  cursor: pointer;
}
.cofirm-modal-btns {
  width: 150px;
  background-color: #00162d;
  color: white;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 2px;
  font-style: italic;
}
.modal-content {
  box-shadow: -2px -3px 9px 5px rgb(224 222 222 / 53%), 0 3px 10px 0 rgb(224 224 224 / 62%);
}
.modal-body {
  font-style: italic;
}
/* ///////////////////Responsive///////////////////// */

  @media screen and (max-width: 960px) {
    .section {
        padding-left: 30px;
        padding-right: 30px;
    }
  }