*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-style: italic;
}
.info-content{
  background: rgba(10, 30, 55);
  font-style: italic;
  position: relative;
  z-index: 1;
}
.content{
  color:white;
  padding-top: 50px;
  padding-bottom: 30px;
/*   margin-bottom: 45px;*/

}
.content h2{
  text-align: left;
  font-size: 20px;
  margin-left: 30px;

}
.element-disabled {
    pointer-events: none;
  }
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li .active {
border-bottom: 4px  solid rgb(0, 21, 48);
}
.account-section{
    font-style: italic;    
}
.account-info{
    margin: 30px 30px 30px 30px;
    background-color: #fff;
   
}
.account-content #box-1{
    border-left: 9px solid rgb(0, 21, 48);
    box-shadow: 0px 0px 0px 0px rgb(19 19 19 / 53%), 2px 0px 8px 4px rgb(19 19 19 / 53%);
    padding: 17px;
    
}
.account-content #box-2{
    box-shadow: 0px 0px 0px 0px rgb(19 19 19 / 53%), 2px 0px 8px 4px rgb(19 19 19 / 53%);
    border-left: 9px solid rgb(0, 21, 48);
    padding: 17px;
}

.title-account h3{
    font-size: 14px;
    margin: 40px;
    margin-left: 20px;
}
.box-account-main-info{
    box-shadow:2px 2px 2px 2px  rgb(218, 218, 218) ;
    border: 2px solid rgb(0, 21, 48);
    border-radius: 13px;
    padding: 30px;
    
}
.box-account-main-info h4{
   font-size: 14px;
   padding-bottom: 15px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent !important;
}

.nav li .active {
    border-bottom: 2px solid !important;
}
.nav-pills .nav-link {
    border-radius: initial !important;
}
  .BA-Footer{
    background-color:rgb(0,22,45);
    width: 100%;
    height: 20px;
   border-top: 2px solid white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 10px;
   color: #fff;
   letter-spacing:1px;
  }
  .BA-Footer div{
    width: 2px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}
.bgColor {
    color: white !important;
    background-color: rgb(0, 21, 48) !important;
  }
  /* footer */
  .fullResultFooter {
    height: 40px;
    /* background-color:  var(--color-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    /* color: var(--color-fg);
    border-top: var(--border-top); */
  }
  .fullResultFooter div {
    width: 2px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 5px;
  }
  .fullResultFooter p {
    font-size: 10px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 15px;
  }
/* ///////////////////Profile//////////////////////// */
.profile-links .active-class {
    background-color: rgba(10, 30, 55);
    border-radius: 9px;
    padding: 0 0.5rem;
  }
  .content {
    text-align: left;
    color: white;
    padding-left: 30px;
    font-style: italic;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-bottom: 45px;
  }
  .content h1 {
    font-size: 20px;
  }
  .content h3 {
    font-size: 14px;
  }
  .profile-links {
    background-color: #ffffff;
    border: 1px solid rgb(30, 10, 55);
    padding: 30px 0px;
    text-align: center;
    box-shadow: 0px 0px 0px 2px rgb(19 19 19 / 53%), 0 3px 13px 9px rgb(19 19 19 / 53%);
    border-radius: 16px;
    font-style: italic;
    position: relative;
    width: 300px;
  }
  .profile-links img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
  }
  .upload {
    width: 100px;
    position: relative;
    margin: auto;
  }
  
  .upload img {
    border-radius: 50%;
    border: 6px solid #494545;
  }
  
  .upload .round {
    position: absolute;
    bottom: 0;
    right: 5px;
    /*  background: rgb(19, 10, 50);*/
    width: 32px;
    height: 32px;
    line-height: 17px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .upload .round input[type="file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
  
  input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
  }
  .content-profile {
    text-align: center;
    margin-bottom: 30px;
    font-style: italic;
  }
  .content-profile h3 {
    font-size: 20px;
  }
  .content-profile h4 {
    font-size: 16px;
  }
  .profile-links li {
    text-align: left;
    display: flex;
    margin: 5px 0;
    margin-left: 5px;
    align-items: center;
    cursor: pointer;
  }
  /**/
  .profile-links li a {
    color: #000000;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    pointer-events: none;
  }
  .profile-links li i {
    pointer-events: none;
  }
  .profile-links li a:hover {
    cursor: pointer;
  }
  .profile-links li.active-class a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
    display: flex;
  }
  .profile-links li.active-class i {
    color: white;
  }
  .badge {
    display: flex;
    min-width: 15px;
    padding: 5px 6px;
    border-radius: 50%;
    font-size: 12px;
    background: rgb(10, 30, 55);
    color: #fefefe;
    right: 23px;
    position: absolute;
    pointer-events: none;
  }
  .profile-links .active-class .badge {
    background: white;
    color: rgb(10, 30, 55);
  }
  
  .profile-links button {
    padding: 8px 0;
    color: #fff;
    outline: none;
    background: transparent;
    background-color: rgb(10, 30, 55);
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
  }

  /* ////////////////////////////////header////////////////////////////////////// */
  .container-header{
    height: 45px;
    background-color: rgb(0,22,45); 
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-header .header1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
   padding-left: 50px;
}
.container-header .header1 img{
    width:45px;
    height: 45px;
    border-radius: 50%;
}
.container-header .header1 a{
    color:#ffffff;
     margin-left: 2em;
     font-size:15px;
     font-weight: 300;
     letter-spacing: 1.5px;
}
.container-header .header1 a:hover{
    font-size: 17px;
     transition: 0.5s;
     margin-left: 1.7em;
     cursor: pointer;
}
/* style the dropdown */
.dropdown {
    position: relative;
  }
.dropdown-content {
    display: none;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: -3px 5px 16px 0px rgba(255, 255, 255, 0.507);
 padding: 5px;
  z-index: 1;
  border-radius: 10px;
  }
  
  .dropdown-content a {
    color: #000000 !important;
    margin: 5px 5px 5px 9px !important;
    text-decoration: none !important;
  }
  
  
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  
  
.container-header .header2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;color: white;
}
.container-header .header2 a{
    margin-right:20px;
    cursor: pointer;
    
}
.container-header .header2 a:hover{
    font-size: 17px;
    transition: 0.5s;
    cursor: pointer;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.custom-control-input:checked~.custom-control-label.red::before {
  background-color: red;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* //////////////////packages///////////////////////////// */
.packagesBody p{
  position: absolute;
  top: 50px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.packagesBody .Packagesbox{
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.packagesBody .Packagesbox .FirstPackage{
  width: 80%;
  height: 50px;
  background-color: rgb(0,22,45);
  top: -5px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: auto;
 margin-left: auto;
}
.packagesBody .Packagesbox .FirstPackagePrice{
  width: 100%;
  height: 40px;
  background-color: rgb(207, 207, 207);
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.packagesBody .Packagesbox .FirstPackageInfo{
  width: 100%;
  height: 270px;
  position: absolute;
  top: 125px;
}
.packagesBody .Packagesbox .FirstPackageInfo p{
  margin: 10px;
}
.packagesBody .Packagesbox .FirstPackageBuyBtn {
width: 100%;
height: 30px;
position: absolute;
bottom: 12px;
}
.packagesBody .Packagesbox .FirstPackageBuyBtn button{
  width: 50%;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(0,22,45);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}
.FirstPackageInfo div {
  word-break: break-word;
  width: 200px;
}
/*contact box*/
.contact-box-base{
  display: flex;
  width: 1128px;
  height: 100px;
  border-radius: 10px;
  box-shadow:  3px 3px 3px 3px #fff;
  border: 2px solid #fff;
  margin-bottom: 30px ;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background: rgb(10, 30, 55);
}
.main-box-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.contact-title-base{
  font-style: italic;
  font-weight: 300;
  color: #fff;
  padding-left: 25px;
}
.contact-title-base h3{
  font-size: 16px;
}
.contact-title-base h4{
  font-size: 12px;
}
.btn-contact{
  background-color: rgb(227, 230, 227);
  color: rgb(30, 10 ,55);
  font-style: italic;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
  margin-right: 30px;
  box-shadow: 0px 1px 1px 1px rgb(5 17 32);
  border: 4px solid rgb(5 17 32);
}
.btn-contact:hover{
  background-color: rgb(10, 30, 55);
  color: #fff;
}

/* modal content*/
.close-btn {
  border: 3px solid;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #031524;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 4px;
  cursor: pointer;
}
.cofirm-modal-btns {
  width: 50px;
  background-color: #00162d;
  color: white;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.nav-responsive{
  color: white;
  position: absolute;
  right: 15px;
  top:10px;
  
}
@media  screen and (min-width: 900px){
  .nav-responsive{
      display: none;
  }
  .resHeader{
    display: none;
 }
}
@media  screen and (max-width: 900px){
  .container-header .header1,.header2{
     display: none;
  }
  .container-header .header2{
      display: none;
   }
  .resHeader {
    padding-top: 10px;
    padding-left: 4px;
   width: 30%;
   height: 45px;
   position: absolute;
   top: 0;
   left: 0;
   display:flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 13px;
   color: white;
   }
   .resHeader img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-bottom: 10px;
   }
   .packagesBody{
    flex-direction: column;
   }
   .helpInPackages .first{
    font-size: 10px;
   }
   .helpInPackages .second button{
    font-size: 10px;
    width: 50%;
    height: 30px;
   }

}
@media  screen and (max-width: 992px){
  .table{
    display: block !important;
    width: 100%;
    overflow-x: auto !important;
  }
 }
 @media  screen and (min-width: 767px){
  .res-nav {
    display: none;
  }
 }
 @media  screen and (max-width: 767px){
  .res-nav {
    display: -webkit-inline-box;
  }
  .nav-tab{
    display: none;
  }
 }
 @media  screen and (min-width: 1200px){
  .align-stretch{
    align-items: stretch
  }
 }
 @media  screen and (max-width: 1200px){
  .align-stretch{
    align-items: start !important;
  }
 }
   
 @media (max-width: 1200px) {
  .profile-links {
    padding: 30px 0px;
    text-align: center;
    margin: 100px 50px 0 50px;
    border-radius: 16px;
    position: relative;
    width: 240px !important;
  }
}
@media (max-width: 991px) {
  .profile-links {
    padding: 30px 0px;
    text-align: center;
    margin: 20px 0px 0 0px;
    border-radius: 10px;
    position: relative;
  }
  .flex-center {
    display: flex; 
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .profile-links li {
    margin: 0;
  }
  .profile-links img {
    margin-bottom: 10px;
  }
}